body {
    text-align: center;
    background-color: rgb(88, 153, 14);
}
  
section {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}
  
table {
    margin: 0 auto;
} 

h1{
    text-align: center;
}

form{
    text-align: center;
}

button{
    border-radius: 10px;
    
}

input{
    border-radius: 0 12px;
}

textarea{
    border-radius: 0 20px;
}

